body{
    margin: 0;
    padding: 0;
    background-color: #87CEFA;
    font-family: 'Merriweather', serif;
    font-family: 'Playpen Sans', cursive;
    font-size: 2rem;
}

nav{
    display: flex;
    background-color: #20B2AA;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul{
    display: flex;
    gap: 214px;
    list-style: none;
}

a{
    text-decoration: none;
    color: azure;
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 100px 30px 100px;
    align-items: center;
}

#imagen{
    width: 250px;
    height: 250px;
    margin: 10px 20px 0 20px;
}

#imagenC{
    width: 250px;
    height: 350px;
    margin: 10px 20px 0 20px;
}

p{
    margin: 10px 20px 0 20px;
}

.icono{
    position: fixed;
}

#movible{
    width: 50px;
    height: 50px;
    margin: 10px 0 0 0;
}

footer{
    text-align: center;
    padding-bottom: 10px;
    color: azure;
    background-color: #20B2AA;
}


@media (min-width: 320px) {
/*celular*/
    nav{
        background-color: red;
        width: 100%;
    }

}
/*tablet*/
@media (min-width: 768px) {

    nav{
        background-color: yellow;
        width: 100%;
    }
}

/*escritorio*/
@media (min-width: 1024px) {
    nav{
        background-color: blue;
        width: 100%;
    }
}


